/*default*/
@import 'varible';
@import 'reset';
@import 'fonts';
@import 'master';
/*component*/
/*page*/
@import 'home';
@import 'result';
@import 'tintuc';
@import 'question';
@import 'dichvu';


html {
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

button {
    &:focus {
        outline: none !important;
    }
}